@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.75rem;
}

section {
    background-color: #FFF8E8;
    padding: 1rem;
    display: flow-root;
}

.block {
    background-color: #990D35;
    color: whitesmoke;
    height: 15vw;
    width: 15vw;
    padding: 0.25rem;
}

.left {
    float: left;
    margin-right: 1rem;
}