* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid #89B0AE;
    border-right: 5px dashed #89B0AE;
    border-bottom: 5px double #89B0AE;
    font-size: 1.5rem;
    margin: 2em;
    padding: 1.5em;
}

.circle {
    margin: 1em auto;
    background: #28AFB0;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
